/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

/* Header styling to stretch across the full width */
header {
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /* Ensure header stays above other content */
}

/* The logo styling */
.header img {
  max-width: 150px;
  margin-right: 10px;
}

/* The h1 styling (for Hack-A-Ruckus text) */
.header h1 {
  margin: 0;
  text-align: center;
  /* Ensures the title is centered */
  flex-grow: 1;
  /* Makes sure the title takes available space and is centered */
}

/* Login container styling */
.loginContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  width: 250px;
  display: flex;
  position: absolute;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center children horizontally */
}


/* Form group styling */
.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #000;
}

.formGroup input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color: #000;
}

.formGroup input:focus {
  border-color: #007bff;
}

/* Button styling */
.loginButton {
  width: 110%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.loginButton:hover {
  background-color: #0056b3;
}

/* Header text */
h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Register link styling */
.registerLink {
  display: block;
  /* Ensures it's a block element */
  margin-top: 10px;
  /* Adds spacing between the button and the link */
  color: #007bff;
  text-decoration: none;
  text-align: center;
  /* Centers the link */
}

.registerLink:hover {
  text-decoration: underline;
}